h1 {
  text-align: center;
  font-family: montserrat, serif;
  font-weight: 450;
}

body, html {
  /* background: grey; */
  height: auto;
  padding: 0;
  margin: 0;
  background: linear-gradient(to bottom, #333333, #1a1a1a);
  background-position: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

#todo-list {
  width: 500px;
  margin: 60px auto;
}

form, .todo {
  border: 1px solid #444444;
  box-shadow: 0px 0px 6px rgba(173, 173, 173, 0.1);
  border-radius: 0.875em;
  padding: 10px 20px;
  margin-bottom: 10px;
}

form {
  display: flex;
  justify-content: stretch;
  margin-bottom: 30px;
}

form input {
  padding: 4px 8px;
  flex-grow: 1;
  margin-right: 16px;
  border-radius: 0.6em;
  background-color: transparent;
  border: 1px solid grey;

}

form input:active{
  border: 1px solid lightgrey;

}

.todo {
  display: flex;
  flex-direction: column;
}
  
button {
  font-size: 16px;
  font-family: outfit, sans-serif;
  background: #1a1a1a;
  color: #ffffff;
  border-radius: 0.6em;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  box-shadow: 0px 0px 6px rgba(212, 212, 212, 0.1);

}

button:hover {
  background-color: #333333;
  box-shadow: 0px 0px -6px rgba(59, 59, 59, 0.1);

}

button:active {
  background-color: #000000;
}

button:focus {
  outline: 0;
}

input[type='text'] { 
  font-size: 1em; 
  font-family: monospace; 
  color: #ffffff;
}

.todo input[type="checkbox"] {
  appearance: none;
  width: 1.5em;
  height: 1.5em;
  border: 1px solid #888;
  border-radius: 0.25em;
  margin-right: 0.625em;
}

.todo input[type="checkbox"]:checked {
  background-color: #b9b9b9; 
  border: 1px solid #b9b9b9;
}

.todo-text input {
  padding: 0.25em;
  border-radius: 0.6em;
  background-color: transparent;

}

.completed {
  border-radius: 0.1em;
}

.todo-text {
  font-size: 1.5em;
  line-height: 1.5em;
  margin-bottom: 1cm;
  display: flex;
  align-self: center;
}
.todo-completed {
  display: flex;
  margin: 0.625em 0;
}
.todo-actions {
  display: flex;
  justify-content: space-between;
}

#completed {
  margin-left: 15px;
}

